/*Colors and fonts */
body {
 background-color: #f9f9f9;
 color: rgb(30;30;30);
 font-family:'Lora', serif;
 font-size: 18px;
 }


h1, h2 {
 	font-family: 'Roboto', sans-serif;
 	letter-spacing: 8px;
 	text-align: center;
 	}

 h1 {
 	color: #CB904D;
 	font-size: 50px;
 	font-weight: 900;
 }

 h2 {
 	color: #166088;
 	font-size: 20px;
 	font-weight: lighter;
 	font-weight: 500;
 }

 a {
 	font-family: 'Roboto', sans-serif;
 	text-decoration: none;
 	color: #ffacb7;
 	font-weight: bold;
 	font-weight: 600;
 	font-size: 16px;
 }

 a:hover {
 	color: #ffe0ac;
 }

 /* Custom design with class */

 .container {
 	width: 700px;
 	margin: 40px auto;
 }

 @media (max-width: 500px){
 	.container{
 		width: 400px;
 	}
 }

@media (max-width: 760px){
 	.container{
 		width: 600px;
 	}
 }

 .card-white {
 	background-color: white;
 	padding: 40px;
 	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 	border-radius: 4px;
 	margin: 20px 0px;
 	text-align: center;
 }

 .img-circle {
 	border-radius: 50%;
 }

 .btn-blue {
 	background-color: black;
 	color: white;
 	padding: 15px 20px;
 	border-radius: 4px;
 }

 .btn-blue:hover {
 	background-color: blue;
 	color: white;
 }

 .list-inline {
 	list-style: none;
 	padding-left: 0px;
 }

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover {
	color: blue;
}

#introduction p {
	margin-bottom: 40px;
}

